.homeFooter {
    padding-top: 5rem;
    padding-bottom: 2rem;
    background: url(/public/pics/footerBG.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0a2540;
}
