@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.page-load-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 250, 252)
}

.pageLoading {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom: 3px solid #00bfff;
    border-top: 3px solid #00bfff;
    animation: load 1s infinite linear;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}